*{
    padding: 0;
   margin: 0;
}

body{
    background-color: #24272E
}
#answerbox{
    text-align: center;
    margin-left: 35%;
    width: 395px ;
    height: 45px
}

    

#calci{
    height:373.5px;
    width: 400px;
    background-color: coral;
    margin-left: 35%;
    display: flex;
    flex-wrap: wrap
   
    
}
.calci-buttons{
    height: 75px;
    width: 100px;
    border: black solid 1.5px;
}
#equal{
    background-color: orange;
}

#zero{
    width: 200px;
}
.operator{
    background-color: orange;
}