.div1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px black solid;
    margin: 5px;
}
@keyframes  slide {
    from{
        margin-left: 40px;
    }
    to{
        margin-left: 300px;
    }
}
#div2+div:hover{
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: 30;
}
