div{
    margin:20px;
    height: 100px;
    width: 100px;
    background-color: brown
}
 
#div1{
    transform: scale(2)
}
#div4{
    transform: rotate(45deg)
}
#div6{
    transform: translate(2px)
}
#div5{
    transform: skewx(45deg);
}